<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piyushmaheswari.everythingandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Favourites"></activity>
        <activity android:name=".TipsTricksActivity" />
        <activity android:name=".FlutterActivity" />
        <activity android:name=".KotlinActivity" />
        <activity android:name=".SendQuestionsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".Java.JavaActivity" />
        <activity android:name=".Android.AndroidActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>